h1 {
    color: darkslateblue;
    text-align: center;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: purple;
    text-align: left;
    font-family: serif;
    font-size: 150%;
}
p {
    color: darkred;
    text-align: left;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: turquoise;
}

li{
    text-align: left;
}
img {
    text-align: center;
}
.chocolate{
    color: darkgreen;
}
